<h2>List of all languages</h2>
<h3>Search Bar</h3>
<form action="/languages" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchDetail.name%>">
    <button type="submit">Search</button>
</form>
<a href="/languages/new"><input type="button" value="Add Language"></a>
<br>
<br>
<% languages.forEach(language => { %>
    <div href><a href="./languages/<%=language._id%>"><%= language.name %></a</div>
<% })%> 