<div>
    <label for="name">Language</label>
    <input type="text" name="name" value="<%= language.name %>">
</div>
<div>
    <label for="code">Language's Code</label>
    <input type="text" name="code" value="<%= language.code %>">
</div>