<h2><%= book.title %></h2>
<img src="<%= book.iconImgPath %>" width="100" height="150">
<ul>
    <li>Page count: <%= book.pageCount %></li>
    <% const authors = book.author %> 
    <% authors.map(author => { %>
        <li>Author: <%= author.firstName %></li>
    <% }) %> 
    <li>Genre: </li>
    <li>Language: </li>
    <li>Publish Date: </li>
    <li>Publisher: </li>
</ul>