<h2>Add book</h2>
<form action="/books/new" method="POST">
    <label style="font-weight: bold;">Product Detail</label>
    <br>
    <%- include('product_input_form_partial.ejs') %> 
    <br>
    <br>
    <label style="font-weight: bold;">Book Detail</label>
    <br>
    <%- include('book_input_form_partial.ejs') %> 


    <a href="/books"><input type="button" value="Cancle"></a>
    <button type="submit">Add</button>
</form>