<div>
    <label>Cost</label>
    <input type="text" name="cost" value="<%= product.cost %>" />
</div>
<div>
    <label>Price</label>
    <input type="text" name="price" value="<%= product.price %>" />
</div>