<header>
    <nav class="shadow navbar navbar-expand-lg navbar-dark fixed-top myNav">
        <div class="container-fluid mx-3">
            <div>
                <a class="navbar-brand scaleUp" href="/"><i class="fas fa-book-open"></i><span>Home</span></a>
                <a class="navbar-brand scaleUp" href="/books"><span>Book Library</span></a>
                <a class="navbar-brand scaleUp" href="/books/new"><span>Add Book</span></a>
            </div

            <div class="d-flex">
                <a class="navbar-brand scaleUp" href="/admin">Admin Page</a>
                <div class="dropdown">
                    <a class="dropdown-toggle  navbar-brand  btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="user-avt" src="/images/avt.jpg" alt="" />
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Account</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="./logout.php">Log out</a></li>
                    </ul>
                </div>
                <a class="navbar-brand scaleUp" href="cart.php"><i class="fas fa-shopping-cart"></i> 99</a>
                    <a class="navbar-brand scaleUp" href="./login.php">Login</a>
                    <a class="navbar-brand scaleUp" href="./register.php">Register</a>
            </div>
        </div>
    </nav>
</header>
