<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/books">Library</a></li>
            <li><a href="/authors">Author</a></li>
            <li><a href="/languages">Language</a></li>
            <li><a href="/publishers">Publisher</a></li>
            <li><a href="/countries">Country</a></li>
        </ul>
        <ul>
            <% if(typeof user !== "undefined" && user != null) {%>
            <li><a href="/logout">Log out</a></li>
            <% } else {%>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log in</a></li>
            <% } %>
        </ul>
    </nav>
</header>
