<div>
    <label for="name">Country's Name</label>
    <input type="text" name="name" value="<%= country.name %>">
</div>
<div>
    <label for="code">Country's Code</label>
    <input type="text" name="code" value="<%= country.code %>">
</div>