<h2>Add</h2>
<form action="/countries/new" method="post">
    <%- include('input_form_partial.ejs') %>
    <a href="/"><input type="button" value="Cancle"></a>
    <button type="submit">Add country</button> 
</form>