<h2><%= author.lastName + ' ' + author.middleName + ' ' + author.firstName %></h2>
<ul>
    <li>Origin: <%= author.origin %></li>
    <li>Date of birth: <%= author.dateOfBirth %></li>
    <li>Bio: <%= author.biography %></li>
</ul>