<ul>
    <li>
        <label>Name</label>
        <input type="text" name="name" value="<%= author.name %>">
    </li>
    <li>
        <label>Origin</label>
        <input type="text" name="origin" value="<%= author.origin %>">
    </li>
    <li>
        <label>Date of Birth</label>
        <input type="date" name="dateOfBirth" value="<%= author.dateOfBirth %>">
    </li>
    <li>
        <label>Biography</label>
        <input type="text" name="biography" value="<%= author.biography %>">
    </li>
</ul>