<h2>Add Author</h2>
<form action="/authors/new" method="POST">
    <%- include('input_form_partial.ejs') %>
    <a href="/authors"><input type="button" value="Cancle"></a>
    <button type="submit">Add</button>
</form>